<title>Redland RV Park, Lufkin Texas - Call Today</title>
<div class="body">
  <div class="header">
    <div class="nav">
      <nav (click)="scroll(home)">Home</nav>
      <nav (click)="scroll(about)">About</nav>
      <nav (click)="scroll(contact)">Contact</nav>
    </div>
  </div>

  <div class="content home" #home>
    <img class="main-image" src="assets/photos/header.png">
    <span class="main-info">
      <b>5002 US Highway 59 North, Lufkin, Texas 75901</b>
      <br>
      <i>One mile north of Lufkin in Redland</i>
      <p>
      Nestled squarely between Nacogdoches and Lufkin Texas, the Redland
      Drive-In RV Park is conveniently located on US Highway 59, soon to be
      the Interstate 69 thoroughfare.
      </p>
      <p>
      Built on the site of the historical Redland Drive-In Movie Theater, the
      park offers great amenities at a great price to its guests and residents.
      Featuring free High Speed Internet, a super-efficient Wi-Fi network, a
      commercial laundry room, and a relaxing game room.
      </p>
      <p>
      Check us out! Tour the Park and meet our staff. Our single goal is to
      make you feel at home and comfortable.
    </p>
    </span>
  </div>
  <div class="content photos" #about>
    <span class="feature-photos">
      <span class="feature-photo feature-photo--caption">Free high speed internet</span>
      <img class="feature-photo" src="assets/photos/IMG_1832.png" alt="Redland RV Park Lufkin - free high speed internet">
      <span class="feature-photo feature-photo--caption">Convenient to Lufkin/Nacogdoches</span>
      <img class="feature-photo" src="assets/photos/IMG_1833.png" alt="Redland RV Park Lufkin - convenient to Lufkin/Nacogdoches">
      <span class="feature-photo feature-photo--caption">Covered spaces available</span>
      <img class="feature-photo" src="assets/photos/IMG_1834.png" alt="Redland RV Park Lufkin - covered parking spaces available">
      <br>
      <span class="feature-photo feature-photo--caption">Free water</span>
      <img class="feature-photo" src="assets/photos/IMG_1835.png" alt="Redland RV Park Lufkin - free water hookup">
      <span class="feature-photo feature-photo--caption">Washers on site</span>
      <img class="feature-photo" src="assets/photos/IMG_1836.png" alt="Redland RV Park Lufkin - washers on site">
      <span class="feature-photo feature-photo--caption">Dryers on site</span>
      <img class="feature-photo" src="assets/photos/IMG_1837.png" alt="Redland RV Park Lufkin - dryers on site">
      <br>
      <span class="feature-photo feature-photo--caption">Game room available</span>
      <img class="feature-photo" src="assets/photos/IMG_1839.png" alt="Redland RV Park Lufkin - game room available">

    </span>
  </div>
  <div class="content contact" #contact>
    <div>Competitive Rents:</div>
    <table class="rates-table">
      <tr>
        <td>Monthly</td>
        <td>$300 Uncovered/$400 Covered</td>
      </tr>
      <tr>
        <td>Weekly</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Daily</td>
        <td>$40</td>
      </tr>
    </table>
    <div>**2010 year model trailers or newer. If older, then it is up to our manager's discretion</div>
    <div class="contact-main-text">Contact Evan Guillory at <br> 936-652-1417</div>
    <div class="footer">Website designed and developed by Eishen Web and Media</div>
  </div>
</div>